certifi==2022.12.7
chardet==3.0.4
click==6.7
cyrusbus==0.1.0
Flask==0.12.2
googlemaps==2.5.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
redis==2.10.6
requests==2.18.4
retools==0.4.1
setproctitle==1.1.10
six==1.11.0
tornado==5.0.1
urllib3==1.22
Werkzeug==0.14.1
uwsgi
